<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Landing Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
</head>

<body>
  <!--   Spinner HTML -->
<!--   <div id="loading">
    <div class="spinner"></div>
  </div> -->
<!--   Navbar -->
  <header>
  <h1>Scrip2Life</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/summary">Summary</a></li>
    <li><a href="/traits">Traits</a></li>
    <li><a href="/backstory">Backstory</a></li>
  </ul>
</header>
  
  <h2>Summary</h2>
    <main>
      
      <div class="card">
  <div class="card-body">
   <p>
     {{ summary }} 
    </p>
  </div>
    </div>
  
    </main>
    <footer>
      <p>Copyright © 2023 Scrip2Life</p>
    </footer>
  
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  
  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
</body>

</html>




